@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&family=Mulish:wght@300&family=Noto+Serif:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.sticky__btn, .buy__users-options, .buy__years-options, .sticky-body__users-options, .sticky-body__years-options {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.additional__pop-up.open, .buy__users-select.open .buy__years-options, .buy__years-select.open .buy__years-options, .sticky-body__users-select.open .buy__years-options, .sticky-body__years-select.open .buy__years-options, .buy__users-select.open .buy__users-options, .buy__years-select.open .buy__users-options, .sticky-body__users-select.open .buy__users-options, .sticky-body__years-select.open .buy__users-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../font/MuseoSansLight.eot");
  src: url("../font/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansLight.woff") format("woff"), url("../font/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../font/MuseoSansRegular.eot");
  src: url("../font/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansRegular.woff") format("woff"), url("../font/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../font/MuseoSansBold.eot");
  src: url("../font/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("../font/MuseoSansBold.woff") format("woff"), url("../font/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: MuseoSans, sans-serif;
  font-size: 14px;
  color: #444444;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: 400;
}

body {
  display: grid;
  grid-template-rows: 428px minmax(1305px, auto) 1fr;
}

.main {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1920px) 1fr;
}

.wrapper {
  grid-column: 2/3;
  outline: 10px solid #8233FF;
  padding: 132px 0 275px;
}

.content {
  padding: 8px 380px;
  min-height: 898px;
  background: url("../assets/pc.svg"), linear-gradient(360deg, #FFFFFF 26.36%, rgba(255, 255, 255, 0.64) 114.64%);
  background-repeat: no-repeat;
  background-position-x: 89%;
}

.navigation {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin: 0 0 24px 0;
}

.breadcrumb {
  display: flex;
}
.breadcrumb a {
  color: #444444;
}
.breadcrumb > li + li:before {
  padding: 0 17px;
  content: ">";
}

.solution {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.solution__info {
  width: 571px;
}
.solution__heading {
  display: flex;
  align-items: flex-end;
}
.solution__heading-logo {
  margin-right: 9px;
}
.solution__heading-heading {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 8px;
  color: #1D1D1B;
}
.solution__heading-rating {
  display: flex;
  align-items: center;
}
.solution__heading-rating-quantity {
  font-weight: 300;
  font-size: 16px;
}
.solution__heading-stars {
  display: flex;
  margin-right: 4px;
}
.solution__heading-stars li {
  margin: 0 2.5px;
}
.solution__description {
  margin: 24px 0 0;
}
.solution__description-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #1D1D1B;
}
.solution__description-heading > span {
  font-weight: 300;
}
.solution__description-text {
  margin: 24px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #444444;
  position: relative;
}
.solution__description-text::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 1px;
  background-color: #AEAEAE;
  top: -4px;
}
.solution__description-details li {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 8px 0;
  display: flex;
}
.solution__description-details li span {
  font-weight: 300;
}
.solution__description-details li::before {
  content: url("../assets/done.svg");
  margin: -1px 8px 0 0;
}
.solution__description-os {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 24px 0 0 0;
  position: relative;
}
.solution__description-os sup {
  font-size: 9px;
  position: absolute;
  top: -2px;
}
.solution__description-os span {
  color: #999999;
  margin: 0 5px 0 13px;
}

.buy, .sticky-body {
  background-color: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(29, 29, 27, 0.08);
  display: flex;
}
.buy__form, .sticky-body__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.buy__product, .sticky-body__product {
  display: flex;
}
.buy__product svg, .sticky-body__product svg {
  flex-shrink: 0;
  margin-right: 12px;
}
.buy__heading, .sticky-body__heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #1D1D1B;
}
.buy__divider, .sticky-body__divider {
  width: 1px;
  height: 100%;
  background-color: #CCCCCC;
}
.buy__conditions, .sticky-body__conditions {
  display: flex;
  align-items: center;
}
.buy__users, .buy__years, .sticky-body__users, .sticky-body__years {
  margin: 0 6px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 48px;
  align-self: start;
  padding-top: 9px;
}
.buy__users-heading, .buy__years-heading, .sticky-body__users-heading, .sticky-body__years-heading {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 9px;
}
.buy__users-text, .buy__years-text, .sticky-body__users-text, .sticky-body__years-text {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  position: absolute;
  top: 91px;
}
.buy__users-select, .buy__years-select, .sticky-body__users-select, .sticky-body__years-select {
  position: relative;
  z-index: 1;
}
.buy__users-trigger, .buy__years-trigger, .sticky-body__users-trigger, .sticky-body__years-trigger {
  width: 97px;
  height: 48px;
  border: 1.5px solid #23D1AE;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-weight: 400;
  font-size: 16px;
  background: #ffffff;
  cursor: pointer;
}
.buy__users-options, .buy__years-options, .sticky-body__users-options, .sticky-body__years-options {
  font-weight: 400;
  font-size: 16px;
  border: 1.5px solid #23D1AE;
  border-radius: 4px;
  background: #FFFFFF;
  transition: all 0.5s;
}
.buy__users-option, .buy__years-option, .sticky-body__users-option, .sticky-body__years-option {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.buy__users-option:hover, .buy__years-option:hover, .sticky-body__users-option:hover, .sticky-body__years-option:hover {
  background-color: #CCCCCC;
}
.buy__users-option.selected, .buy__years-option.selected, .sticky-body__users-option.selected, .sticky-body__years-option.selected {
  color: #FFFFFF;
  background-color: #00A88E;
}
.buy__users-arrow, .buy__years-arrow, .sticky-body__users-arrow, .sticky-body__years-arrow {
  position: absolute;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  right: 10px;
  transform-origin: 65% 65%;
  border-right: 2px solid #1d1d1b;
  border-bottom: 2px solid #1d1d1b;
  transition: 0.5s ease-in-out;
}
.buy__users-arrow.open, .buy__years-arrow.open, .sticky-body__users-arrow.open, .sticky-body__years-arrow.open {
  transform: rotate(225deg);
}
.buy__btn, .sticky-body__btn {
  width: 202px;
  min-height: 64px;
  background-color: #FF3748;
  padding: 6px 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  border-radius: 4px;
  transition: 0.4s;
  margin: 0 0 17px 0;
}
.buy__btn:hover, .sticky-body__btn:hover {
  background-color: #e13140;
}
.buy__total, .sticky-body__total {
  display: flex;
  margin: 0 0 0 11px;
}
.buy__price, .sticky-body__price {
  color: #1D1D1B;
  display: flex;
  flex-direction: column;
}
.buy__price-base, .sticky-body__price-base {
  display: flex;
  font-weight: 300;
  font-size: 16px;
  opacity: 0.6;
  text-decoration: line-through;
}
.buy__price-discount, .sticky-body__price-discount {
  letter-spacing: -0.03em;
  font-weight: 700;
  font-size: 21px;
}
.buy__price-discount-number, .sticky-body__price-discount-number {
  font-weight: 700;
  font-size: 48px;
}
.buy__price-discount-number sup, .sticky-body__price-discount-number sup {
  font-weight: 700;
  font-size: 21px;
  position: relative;
  top: -3px;
  letter-spacing: -0.01em;
}
.buy__checkup, .sticky-body__checkup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy__renewal, .sticky-body__renewal {
  font-weight: 300;
  font-size: 16px;
  color: #375050;
}
.buy__renewal a, .sticky-body__renewal a {
  display: inline-block;
  position: relative;
  top: -2px;
  left: 7px;
  text-align: center;
  width: 15px;
  height: 15px;
  font-size: 14px;
  color: #556E6E;
  border: 1px solid #556E6E;
  border-radius: 50%;
}
.buy__checkbox, .sticky-body__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.buy__checkbox + label, .sticky-body__checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.buy__checkbox + label::before, .sticky-body__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 3px;
  margin-right: 8px;
  background-color: #00A88E;
}
.buy__checkbox:checked + label::before, .sticky-body__checkbox:checked + label::before {
  background-image: url("../assets/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.buy {
  width: 922px;
  min-height: 156px;
  margin: 40px 0 0 0;
  position: relative;
  padding: 16px;
}
.buy::before {
  content: "Save 25%";
  font-weight: 700;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 285px;
  height: 40px;
  background-color: #FFE810;
  position: absolute;
  top: -40px;
  left: 423px;
}
.buy__divider {
  margin: 0 2px 0 8px;
}
.buy__price {
  align-items: flex-end;
  margin: 0 16px 0 0;
  width: 240px;
}
.buy__price-base {
  margin: 0 0 23px 0;
}

.additional {
  width: 922px;
  min-height: 48px;
  box-shadow: 0px 8px 24px rgba(29, 29, 27, 0.08);
  border-radius: 0 0 4px 4px;
  transition: 0.5s ease-in-out;
  padding: 11px 16px 13px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.additional__options {
  display: flex;
  align-items: center;
}
.additional__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #1D1D1B;
}
.additional__button {
  margin: 0 34px 0 8px;
  background-color: transparent;
  width: 16px;
  height: 16px;
  font-size: 12px;
  color: #636938;
  border: 1px solid #666666;
  border-radius: 50%;
}
.additional__pop-up {
  width: 208px;
  height: 132px;
  box-shadow: 0px 4px 20px rgba(92, 133, 150, 0.24);
  border-radius: 4px;
  position: absolute;
  background-color: #FFFFFF;
  left: 200px;
  padding: 16px 0 16px 16px;
  transition: 0.5s ease-in-out;
}
.additional__pop-up-info {
  font-weight: 300;
  font-size: 16px;
  color: #1D1D1B;
  line-height: 19px;
}
.additional__pop-up-info li::before {
  position: absolute;
  width: 16px;
  left: 15px;
}
.additional__pop-up-info li {
  margin: 0 0 8px 30px;
}
.additional__pop-up-info li:nth-child(1)::before {
  content: url("../assets/users.svg");
}
.additional__pop-up-info li:nth-child(2)::before {
  content: url("../assets/server.svg");
}
.additional__pop-up-info li:nth-child(3)::before {
  content: url("../assets//mobile.svg");
}
.additional__pop-up-info li:nth-child(4)::before {
  content: url("../assets/pass.svg");
}
.additional__pop-up-info span {
  font-weight: 700;
}
.additional__pop-up::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid #FFFFFF;
  border-bottom: 9px solid transparent;
  top: 43%;
  left: -9px;
}
.additional__info {
  display: flex;
}
.additional__info li {
  margin: 0 34px 0 0;
  position: relative;
}
.additional__info li::before {
  position: absolute;
  top: -4px;
  left: -23px;
}
.additional__info li:nth-child(1)::before {
  content: url("../assets/users.svg");
}
.additional__info li:nth-child(2)::before {
  content: url("../assets/server.svg");
}
.additional__info li:nth-child(3)::before {
  content: url("../assets/mobile.svg");
}
.additional__info li:nth-child(4)::before {
  content: url("../assets/pass.svg");
}
.additional__links {
  display: flex;
}
.additional__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 0 22px;
  padding: 0 22px 0 0;
  border-right: 2px solid rgba(29, 29, 27, 0.2);
}
.additional__link a {
  color: #1D1D1B;
}
.additional__link:last-child {
  padding: 0;
  border: none;
}

.sticky {
  position: fixed;
  top: 0;
}
.sticky__btn {
  height: 0;
  width: 360px;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky__btn-icon {
  height: 17px;
  position: relative;
  transform-origin: 65% 65%;
  transition: 0.5s ease-in-out;
}
.sticky__btn-icon.open {
  transform: rotate(225deg);
}
.sticky__btn-arrow {
  position: absolute;
  width: 7px;
  height: 7px;
  transform: rotate(225deg);
  border-right: 2px solid #1d1d1b;
  border-bottom: 2px solid #1d1d1b;
}
.sticky__btn-lines {
  position: absolute;
  width: 15px;
  height: 2px;
  top: 7px;
  left: -4px;
  background-color: #1d1d1b;
  box-shadow: 0 5px #1d1d1b;
}
.sticky-body {
  width: 1108px;
  min-height: 140px;
  background-color: #FFFFFF;
  padding: 8px 36px;
}
.sticky-body__divider {
  margin: 0 21px 0 16px;
}
.sticky-body__price {
  align-items: center;
  margin: 0 8px;
  width: 275px;
}
.sticky-body__price-base {
  margin: 8px 0 10px 0;
}
.sticky-body__price-discount-amount {
  width: 178px;
  min-height: 28px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFED40;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}/*# sourceMappingURL=style.css.map */