.additional {
    width: 922px;
    min-height: 48px;
    box-shadow: 0px 8px 24px rgba(29, 29, 27, 0.08);
    border-radius: 0 0 4px 4px;
    transition: 0.5s ease-in-out;
    padding: 11px 16px 13px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media (max-width:1250px) {
    .additional {
        display: none;
    }
}