@mixin font($a:14px,$b:300) {
    font-weight: $b;
    font-size: $a;
}

%hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
%open{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}