.solution {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__info {
        width: 571px;
    }

    &__heading {
        display: flex;
        align-items: flex-end;

        &-logo {
            margin-right: 9px;
        }

        &-heading {
            & br{
                display: none;
            }
            @include font(21px, 700);
            margin-bottom: 3px;
            color: $heading-text-color;
        }

        &-rating {
            display: flex;
            align-items: center;

            &-quantity {
                @include font(16px, 300);
                line-height: 20px;
            }
        }

        &-stars {
            display: flex;
            margin-right: 4px;

            & li {
                margin: 0 2.5px;
            }
        }
    }

    &__description {
        margin: 24px 0 0;

        &-heading {

            @include font(40px, 700);
            line-height: 48px;
            color: $heading-text-color;

            &>span {
                font-weight: 300;
            }
        }

        &-text {
            margin: 24px 0;
            @include font(18px);
            line-height: 22px;
            color: $text-color;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 55px;
                height: 1px;
                background-color: $divider-color;
                top: -4px;
            }
        }

        &-details {
            & li {
                @include font(18px, 400);
                margin: 0 0 8px 0;
                display: flex;

                & span span {
                    font-weight: 300;
                }

                &::before {
                    content: url("../assets/done.svg");
                    margin: -1px 8px 0 0;
                }
            }
        }

        &-os {
            @include font(14px, 400);
            line-height: 17px;
            margin: 24px 0 0 0;
            position: relative;

            & sup {
                font-size: 9px;
                position: absolute;
                top: -2px;
            }

            & span {
                color: $divider-os-color;
                margin: 0 5px 0 13px;
            }
        }
    }
}

@media (max-width:1250px) {
    .solution {
        &__description {
            margin: 22px 0 0;
            width: 465px;
            &-os{
                margin: 48px 0 0;
            }
        }
    }
}
@media (max-width:830px){
    .solution{
        &__info{
            width: 312px;
            padding: 32px 0 48px;
        }
        &__description {
            margin: 32px 0 0;
            width: 312px;
            &-heading{
                @include font(32px,700);
                line-height: 36px;
            }
            &-details li {
                @include font(16px,400);
                line-height: 20px;
            }
        }
        &__heading{

            &-stars li svg{
                height: 11px;
                width: 11px;
            }
            &-heading{
            & br{
                display: block;
            }
            @include font(18px,700);
            line-height: 22px;
        }
    }
    }
}