.sticky{
    position: fixed;
    top: -40px;
    display: grid;
    grid-template-columns: 1fr 1108px 1fr;
    z-index: 3;
    &__wrapper{
        grid-column: 2/3;
    }
    &__btn{
        //@extend %hidden;
        &--open{
            @extend %hidden;
            //@extend %open;
        }
        display: flex;
        margin: 0 0 -1px 0;
        width: 312px;
        height: 40px;
        border-radius: 12px 12px 0 0;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 8px 24px rgba(29, 29, 27, 0.08);
        background-color: $main-bg-color;
        &-icon{
            height: 17px;
            position: relative;
            transform-origin: 25%;
            transition: 0.5s ease-in-out;
            &.open {
                transform: rotate(180deg);
            }
        }
        &-arrow {
            position: absolute;
            width: 7px;
            height: 7px;
            transform: rotate(225deg);
            border-right: 2px solid #1d1d1b;
            border-bottom: 2px solid #1d1d1b;
        }
        &-lines {
            position: absolute;
            width: 15px;
            height: 2px;
            top: 7px;
            left: -4px;
            background-color: #1d1d1b;
            box-shadow: 0 5px #1d1d1b ;
        }
    }
    &-body{
        @extend %hidden;
        background-color: #FFFFFF;
        padding: 8px 36px;
        transition: 0.5s ease-in-out;
        &--open{

            @extend %open;
        }
        &__discount{
            display: none;
            margin: 0 0 -1px 0;
            width:100%;
            min-height: 28px;
            align-items: center;
            justify-content: center;
            background-color: $discount-bg-color;
            @include font(16px,700);
            color: #000000;
        }
        &__product{
            align-items: center;
        }
        &__divider{
            margin: 0 21px 0 16px;
        }
        &__price{
            align-items: center;
            margin: 0 8px;
            width: 275px;
            &-base{
                margin: 8px 0 10px 0;
            }
            &-discount-amount{
                width: 178px;
                min-height: 28px;
                border-radius: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $discount-bg-color;
                text-transform: uppercase;
                @include font(16px,700);
                color: #000000;
            }
        }
    }
    
}

@media (max-width:1250px) {
    .sticky{
        grid-template-columns: 1fr 720px 1fr;
        &-body{
            padding: 8px 16px;
            &__discount{
                display: none;
            }
            &__form{
                align-items: flex-start;
            }
            &__product,&__divider{
                display: none;
        }
        &__total{
            margin: 0;
            justify-content: space-between;
            flex-grow: 1;
        }
        &__price{
            margin: 0;
            flex-grow: 1;
        }
        &__conditions{
            flex-direction: column;
        }
        &__checkup{
            margin-top: 12px;
        }
        &__users,&__years{
            display: flex;
            padding-top: 0;
            margin: 0;
            &-heading{
                align-self: center;
            }
        }
        &__users{
            margin: 0 0 22px 0;
            &-select{
                margin: 0 0 0 24px;
            }
            &-heading{
                margin: 0 0 20px 0;
            }
            &-text{
                top: 30px;
            }
        }
        &__years{
            &-select{
                margin: 0 0 0 26px;
            }
        }
    }
    }
}

@media (max-width:830px){
    .sticky{
        grid-template-columns: 1fr 312px 1fr;
        top: auto;
        bottom: 0;
        &__btn{
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            &--open{
                opacity: 1;
                visibility: visible;
                pointer-events: all;

            }
        }
        &-body{
            padding: 0;
            &__btn{
                width: 312px;
                min-height: 40px;
            }
            &__checkup{
                & label{
                    display: none;
                }
            }
            &__price{
                display: none;
                &-discount{
                    @include font(16px,400);
                    &-number{
                        @include font(30px,700);
                        & sup{
                            @include font(14px,700);
                        }
                    }
                }
            }
            
            &__price-discount-amount{
                display: none;
            }
            &__form{
                flex-direction: column;
            }
            &__product{
                display: none;
            }
            &__divider{
                display: none;
                width: 100%;
                height: 1px;
                margin: 24px 0 16px;
            }

            &__conditions{
                display: none;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }
            &__users,
            &__years{
                flex-direction: column;
                &-heading{
                    align-self: flex-start;
                }
                &-trigger{
                    width: 101px;
                }
            }
            &__users{
                margin: 0 0 61px 0;
                &-select{
                    margin:0;
                }
                &-heading{
                    margin: 0 0 9px 0;
                }
                &-text{
                    top: 80px;
                }
            }
            &__years{
                &-select{
                    margin: 0;
                }
            }
            &__total{
                flex-direction: column;
            }
        }
    
    }
}
