$main-bg-color: #FFFFFF;
$discount-bg-color:#FFED40;
$discount-sticky-bg-color:#FFE810;
$btn-bg-color:#FF3748;
$checkbox-bg-color:#00A88E;
$main-border-color:#8233FF;
$heading-text-color:#1D1D1B;
$text-color:#444444;
$renewal-text-color:#375050;
$renewal-question-color:#556E6E;
$divider-color:#AEAEAE;
$divider-os-color:#999999;
$divider-buy-color:#CCCCCC;
$select-border-color:#23D1AE;
